
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor=#d4a3ae>
        <center>
        <h1> SALARY PREDICTION </h1><br>

        <form method="POST", action="/predict">
           <b>
            Age : <input type="text", name='a', placeholder="enter Age" align="center"> <br><br>
               <label for="workclass">Work Class:</label>
                  <select name="b" id="workclass">
                      <option value="Private">Private</option>
                      <option value="Self-emp-not-inc">Self-emp-not-inc</option>
                      <option value="Self-emp-inc">Self-emp-inc</option>
                      <option value="Federal-gov">Federal-gov</option>
                      <option value="Local-gov">Local-gov</option>
                      <option value="State-gov">State-gov</option>
                      <option value="Never-worked">Never-worked</option>
                  </select>
                  <br><br>
            Final Weight : <input type="text", name='c', placeholder="enter fnlwgt" align="center"> <br><br><br></b>
            <label for="education">Education:</label>
                  <select name="d" id="education">
                      <option value="Bachelors">Bachelors</option>
                      <option value="HS-grad">HS-grad</option>
                      <option value="Primary">Primary</option>
                      <option value="Masters">Masters</option>
                      <option value="Some-college">Some-college</option>
                      <option value="Assoc-acdm">Assoc-acdm</option>
                      <option value="Assoc-voc">Assoc-voc</option>
                      <option value="Doctorate">Doctorate</option>
                      <option value="Prof-school">Prof-school</option>
                      <option value="Preschool">Preschool</option>
                  </select>
                  <br><br>
            Education Number : <input type="text", name='e', placeholder="enter EducationNumber" align="center"> <br><br><br></b>
            <label for="marital-status">Marital-Status:</label>
                  <select name="f" id="marital-status">
                      <option value="Married-civ-spouse">Married-civ-spouse</option>
                      <option value="Divorced">Divorced</option>
                      <option value="Never-married">Never-married</option>
                      <option value="Separated">Separated</option>
                      <option value="Widowed">Widowed</option>
                      <option value="Married-spouse-absent">Married-spouse-absent</option>
                      <option value="Married-AF-spouse">Married-AF-spouse</option>
                  </select>
                  <br><br>
            <label for="occupation">Occupation:</label>
                  <select name="g" id="occupation">
                      <option value="Tech-support">Tech-support</option>
                      <option value="Craft-repair">Craft-repair</option>
                      <option value="Other-service">Other-service</option>
                      <option value="Sales">Sales</option>
                      <option value="Exec-managerial">Exec-managerial</option>
                      <option value="Prof-specialty">Prof-specialty</option>
                      <option value="Handlers-cleaners">Handlers-cleaners</option>
                      <option value="Machine-op-inspect">Machine-op-inspect</option>
                      <option value="Adm-clerical">Adm-clerical</option>
                      <option value="Farming-fishing">Farming-fishing</option>
                      <option value="Transport-moving">Transport-moving</option>
                      <option value="Priv-house-serv">Priv-house-serv</option>
                      <option value="Protective-serv">Protective-serv</option>
                      <option value="Armed-Forces">Armed-Forces</option>
                  </select>
                  <br><br>
            <label for="relationship">Relationship:</label>
                  <select name="h" id="relationship">
                      <option value="Wife">Wife</option>
                      <option value="Own-child">Own-child</option>
                      <option value="Husband">Husband</option>
                      <option value="Not-in-family">Not-in-family</option>
                      <option value="Other-relative">Other-relative</option>
                      <option value="Unmarried">Unmarried.</option>
                  </select>
                  <br><br>
            <label for="race">Race:</label>
                  <select name="i" id="race">
                      <option value="White">White</option>
                      <option value="Asian-Pac-Islander">Asian-Pac-Islander</option>
                      <option value="Amer-Indian-Eskimo">Amer-Indian-Eskimo</option>
                      <option value="Other">Other</option>
                      <option value="Black">Black</option>
                  </select>
                  <br><br>
            <label for="sex">Sex:</label>
                  <select name="j" id="sex">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                  </select>
                  <br><br>
            Capital Gain : <input type="text", name='k', placeholder="enter capital gain" align="center"> <br><br><br></b>
            Capital Loss : <input type="text", name='l', placeholder="enter capital loss" align="center"> <br><br><br></b>
            Hours Per Week : <input type="text", name='m', placeholder="enter hours per week" align="center"> <br><br><br></b>
            <label for="native-country">Native-Country:</label>
                  <select name="n" id="native-country">
                      <option value="North_America">North_America</option>
                      <option value="Central_America">Central_America</option>
                      <option value="South_America">South_America</option>
                      <option value="EU">EU</option>
                      <option value="Asian">Asian</option>
                  </select>
                  <br><br>

            <input type="submit" , value='PREDICT' >
        </form>

    </center>

    </body>
</html>
